@model Aiursoft.Apkg.Models.MirrorsViewModels.RepoIndexViewModel

<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>@Localizer["Public Repositories"]</h3>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Suite"]</th>
                <th>@Localizer["Certificate"]</th>
                <th>@Localizer["Live Bucket"]</th>
                <th>@Localizer["Total Packages"]</th>
                <th class="text-end">@Localizer["Actions"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Repositories)
            {
                <tr>
                    <td><strong>@item.Name</strong></td>
                    <td><span class="badge bg-primary">@item.Suite</span></td>
                    <td>
                        @if (item.Certificate != null)
                        {
                            <span class="badge bg-success" title="@item.Certificate.Fingerprint">@item.Certificate.FriendlyName</span>
                        }
                    </td>
                    <td>
                        @if (item.CurrentBucketId != null)
                        {
                            <span class="badge bg-success">#@item.CurrentBucketId</span>
                        }
                    </td>
                    <td>
                        @(item.CurrentBucketId.HasValue ? Model.PackageCounts.GetValueOrDefault(item.CurrentBucketId.Value, 0) : 0)
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">
                                <i class="align-middle" data-lucide="info"></i> @Localizer["Setup Guide"]
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
